// Form footer
// -----------
// Styles for the bar at the bottom of forms defining the overall actions
// (eg. Save, Cancel) for the form and help messages (eg. "Forgot your password?"
// on a login form).

.form-actions {
  margin-top: 5px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: $zindex-modal-content;
}

.form-actions__message {
  @include font-small;

  color: $grey-4;
  padding-left: 15px;
}

.form-actions__buttons {
  z-index: $zindex-modal-content;
}

.form-actions__btn {
  margin-right: 10px;
}

.form-actions__buttons.is-saving  .form-actions__btn {
  opacity: .5;
}
