/* The groups dropdown list (<group-list>) and
   'Post to <Group or Only Me>' buttons (<publish-annotation-btn>)
 */
.group-list {
  $group-list-width: 270px;

  .dropdown {
    white-space: nowrap;
  }

  .dropdown-menu {
    width: $group-list-width;

    .group-name {
      overflow: hidden;
      text-overflow: ellipsis;
      width: $group-list-width - 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;

    padding: 10px;
    cursor: pointer;

    &:hover {
      .share-link__toggle {
        color: inherit;
      }
      .group-name-link {
        color: $brand-color;
      }
    }

    &.selected {
      .group-name-link {
        font-weight: 600;
      }
    }
  }

  &__icon-container {
    margin-right: 10px;
  }

  &__details {
    margin-right: 20px;
    flex-shrink: 1;
  }

  &__new-group-btn {
    background-color: $gray-lightest;

    .group-list__item {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .h-icon-add {
      font-weight: bold;
    }
  }
}

.share-link {
  &__container {
    font-size: $body1-font-size;
    line-height: $body1-line-height;
    margin-top: 1px;
    white-space: normal;
  }

  &__toggle {
    color: $gray-light;

    &:hover {
      text-decoration: underline;
      color: $gray-dark;
    }
  }

  &__field {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 12px;
    margin-bottom: 8px;
    border: 1px solid $gray-lighter;
    width: 100%;
  }
}
